<a href="https://colab.research.google.com/github/Firmank123/ML_SMT5/blob/main/2341720099_M_Firmansyah_Quiz1_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt

In [58]:
df = pd.read_csv("/content/drive/MyDrive/Smt 5/Machine Learning/Data Mahasiswa Kelas TI-3D - Form Responses 1.csv")
display(df.head())

,Timestamp,Nama lengkap,Jenis kelamin,Kota asal,Tinggi badan (cm),Asal kelas,Target IPS semester ini,Warna kesukaan,Film favorit,Hobi,Genre musik,Idola,Kota favorit,Negara yang ingin di kunjungi,Makanan favorit,Minuman favorit
0,27/08/2025 14:50:02,Nahdia Putri Safira,Wadon,Kota Madiun,165,2C,3.78,Biru,Semua dengan genre horror,Menyanyi,Pop,Lyodra,Kota Malang,Mekkah,Dimsum,Caramel Macchiato
1,27/08/2025 14:54:05,M. Firmansyah,Lanang,Kediri,170,TI 2A,3.4,Biru,Spiderman,Bola,Pop,Lionel Messi,Kediri,Jepang,Ayam geprek,Es teh
2,27/08/2025 14:54:08,Ivansyah Eka Oktaviadi Santoso,Lanang,Gresik,174,3D,"3,5",hitam,Naruto,Futsal,Pop,Ronaldo,Surabaya,Amerika Serikat,Seblak,Es Teh
3,27/08/2025 14:54:44,Aida Rahma Fadhila,Wadon,Malang,150,2G,3.95,Biru,Taxi Driver,Drawing,RnB,Ariana,Malang,Thailand,Mie ayam,Kopi
4,27/08/2025 14:54:58,Aryan Saputra Rahmad,Lanang,bojonegoro,170,2B,4,ABANG,jumbo,badminton,pop,DEANKT,dieng,"inggris,manchester",mie ayam,air mineral

In [41]:
df['Kota_asal_clean'] = df['Kota asal'].str.replace('(?i)kota', '', regex=True).str.strip()
nama = 'M. Firmansyah'
kota = df.loc[df['Nama lengkap'] == nama, 'Kota_asal_clean'].values[0]
tinggi_kamu = df.loc[df['Nama lengkap'] == nama, 'Tinggi badan (cm)'].values[0]

# Hitung rata-rata tinggi berdasarkan kota
rata_rata = df.loc[df['Kota_asal_clean'] == kota, 'Tinggi badan (cm)'].mean()

# Output
print(f"Kota: {kota}\nTinggi kamu: {tinggi_kamu}\nRata-rata kota: {rata_rata}")

Kota: Kediri
Tinggi kamu: 170
Rata-rata kota: 170.33333333333334

In [109]:
# Bersihkan IPS
df['IPS_clean'] = df['Target IPS semester ini'].astype(str)
df['IPS_clean'] = df['IPS_clean'].str.replace(',', '.').str.extract(r'(\d+\.?\d*)')
df['IPS_clean'] = pd.to_numeric(df['IPS_clean'], errors='coerce')

# Normalisasi (min-max scaling)
df['IPS_norm'] = (df['IPS_clean'] - df['IPS_clean'].min()) / (df['IPS_clean'].max() - df['IPS_clean'].min())

# Pilih data untuk nama tertentu
nama = 'M. Firmansyah'
hasil = df.loc[df['Nama lengkap'] == nama, ['IPS_clean', 'IPS_norm']]

print(hasil)

   IPS_clean  IPS_norm
1        3.4       0.0

In [92]:
le = LabelEncoder()
nama = 'M. Firmansyah'

# Warna
warna = df.loc[df['Nama lengkap'] == nama, 'Warna kesukaan'].values[0]
print("Warna :", warna)

# Kode warna
df['Warna_kode'] = le.fit_transform(df['Warna kesukaan'])
kode = df.loc[df['Nama lengkap'] == nama, 'Warna_kode'].values[0]
print("Kode  :", kode)

# Range kode warna
print("\nRange kode 0–14 (mapping warna):")
for i, w in enumerate(le.classes_):
    print(f"{w} → {i}")

Warna : Biru
Kode  : 1

Range kode 0–14 (mapping warna):
ABANG → 0
Biru → 1
Emerald → 2
Hijau → 3
Hitam → 4
Hytam → 5
Merah → 6
Navy → 7
Pink → 8
Violet → 9
Warna kalem → 10
blue → 11
hitam → 12
merah → 13
pastel → 14

In [107]:
# Bersihkan kolom Asal kelas
df['Asal_kelas_clean'] = (
    df['Asal kelas']
    .astype(str)
    .str.upper()
    .str.replace('TI', '', regex=True)
    .str.replace('-', '', regex=True)
    .str.strip()
)

# Hitung jumlah mahasiswa per kelas
kelas_counts = df['Asal_kelas_clean'].value_counts().reset_index()
kelas_counts.columns = ['Asal_kelas_clean', 'Jumlah']

# Contoh: ambil data untuk M. Firmansyah
nama = 'M. Firmansyah'
asal_kelas = df.loc[df['Nama lengkap'] == nama, 'Asal_kelas_clean'].values[0]

# Ambil jumlah murid sesuai kelas
jumlah = kelas_counts.loc[kelas_counts['Asal_kelas_clean'] == asal_kelas, 'Jumlah'].values[0]

# Tentukan tingkat → rendah / menengah / tinggi
angka_tingkat = ''.join([c for c in asal_kelas if c.isdigit()])

if angka_tingkat == '1':
    tingkat = "Rendah"
elif angka_tingkat == '2':
    tingkat = "Menengah"
elif angka_tingkat == '3':
    tingkat = "Tinggi"
else:
    tingkat = "Tidak diketahui"

# Output
print(f"Asal kelas   : {asal_kelas}")
print(f"Jumlah murid : {jumlah}")
print(f"Tingkat      : {tingkat}")

Asal kelas   : 2A
Jumlah murid : 3
Tingkat      : Menengah